@font-face {
    font-family: Poppins-Medium;
    src: url(../../../assets/Fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(../../../assets/Fonts/Poppins-SemiBold.ttf);
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .error-msg {
        font-size: 16px;
        color: orangered;
        text-transform: capitalize;
        display: flex;
        justify-content: center;
        font-family: Poppins-SemiBold;
        margin-bottom: 10px;
    }

    .username,
    .password {
        min-height: 30px;
        width: 250px;
        border: 2px solid gold;
        border-radius: 3px;
        background-color: #000;
        margin-bottom: 10px;
        font-size: 16px;
        font-family: Poppins-SemiBold;
        padding: 5px;
        color: #fff;
    }

    .login-button-container {
        min-height: 30px;
        width: 250px;
        display: flex;
        justify-content: center;

        .login-button {
            width: 100px;
            background-color: #000;
            font-size: 16px;
            font-family: Poppins-SemiBold;
            padding: 5px;
            color: #fff;
            border-radius: 10px;
            cursor: pointer;
            margin-top: 10px;
            outline: none;
        }
    }
}