<div class="bet-numbers-container">
    <img class="bet-number" src="./assets/images/01.png" alt="1">
    <img class="bet-number" src="./assets/images/02.png" alt="2">
    <img class="bet-number" src="./assets/images/03.png" alt="3">
    <img class="bet-number" src="./assets/images/04.png" alt="4">
    <img class="bet-number" src="./assets/images/05.png" alt="5">
    <img class="bet-number" src="./assets/images/06.png" alt="6">
    <img class="bet-number" src="./assets/images/07.png" alt="7">
    <img class="bet-number" src="./assets/images/08.png" alt="8">
    <img class="bet-number" src="./assets/images/09.png" alt="9">
    <img class="bet-number" src="./assets/images/10.png" alt="10">
    <img class="bet-number" src="./assets/images/11.png" alt="11">
    <img class="bet-number" src="./assets/images/12.png" alt="12">
</div>