<div class="wheel-container">
    <span class="pointer">
        <img src="./assets/images/pointer.png" alt="pointer">
    </span>
    <span class="winner-image" *ngIf="true">
        <img class="winner-wheel" src="./assets/images/star-round.png" alt="winner">
        <img class="gold-peti" src="./assets/images/gold peti.png" alt="winner">
    </span>
    <td align="center" class="the_wheel blinking-border" height="450" valign="center" width="450">
        <!-- <img class="round-img" src="./assets/images/round.png" alt="round"> -->
        <canvas (click)="calculatePrize()" height="434" id="canvas" width="434">
            <p align="center" style="color: white">Sorry, your browser doesn't support canvas. Please try another.
            </p>
        </canvas>
    </td>
</div>