<div class="buttons-container">
    <div class="row">
        <img src="./assets/images/bet-1.png" alt="1">
        <img src="./assets/images/bet-5.png" alt="5">
        <img src="./assets/images/bet-10.png" alt="10">
    </div>
    <div class="row">
        <img src="./assets/images/bet-50.png" alt="50">
        <img src="./assets/images/bet-100.png" alt="100">
        <img src="./assets/images/bet-500.png" alt="500">
    </div>
    <div class="row">
        <img src="./assets/images/bet-1000.png" alt="1000">
        <img src="./assets/images/bet-5000.png" alt="5000">
        <img src="./assets/images/delete.png" alt="delete">
    </div>
    <div class="balance-info">
        <div class="info-container">
            <div class="value">---</div>
            <div class="title">BALANCE</div>
        </div>
        <div class="info-container">
            <div class="value">---</div>
            <div class="title">TOTAL BET</div>
        </div>
        <div class="info-container">
            <div class="value">---</div>
            <div class="title">BARCODE</div>
        </div>
    </div>
</div>